<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="{{url_for('static', filename='icons/gifbuddy/icon_144x144.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/gifbuddy/icon_192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/gifbuddy/icon_512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/gifbuddy/icon_144x144.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/gifbuddy/icon_192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/gifbuddy/icon_512x512.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>GIF Buddy🫂</title>
</head>
<body>
    <div class="action-container">
        <button class="action-button" id="uploadButton" onclick="window.location.href='/upload'">Upload</button>
        <button class="action-button" id="searchButton" onclick="window.location.href='/'">Search</button>
        <!-- <button class="action-button" id="createButton" onclick="window.location.href='/create'">Create</button> -->
        <button class="action-button" id="memeButton" onclick="window.location.href='/meme'">Meme</button>
    </div>    

    <div id="notification" class="notification"></div>
    
    <div class="container">
        <h1 id="secret-header" onclick="window.location.href='/memesearch'">Decode Image 🤫</h1>
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Enter Image URL" autofocus onclick="this.focus();">
            <button id="search-button">Decode</button>
        </div>

        <img id="instructions" src=""></img>
        <p id="lsbdata" style="display: none;"></p>
        <div id="clickinstructions" class="powered-by" style="display: none;">
            Click Image to Copy Text Content
        </div>
    </div>

    <button id="meme-gif-button" style="display: none;" onclick="window.location.href='/meme'">Meme GIF</button>

    <div class="button-container">
        <!-- <a href="https://github.com/happylemonprogramming/" target="_blank" class="github-button" id="githubButton">
            <img src="/static/githublogo.png" alt="GitHub logo" class="github-logo">
        </a> -->
        <!-- <a href="https://nostr.com/npub1hee433872q2gen90cqh2ypwcq9z7y5ugn23etrd2l2rrwpruss8qwmrsv6" target="_blank" class="github-button" id="githubButton">
            <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
        </a> -->
        <button target="_blank" class="github-button" id="npub">
            <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
        </button>
        <button id="zap-button" class="zap-button">
            ⚡
        </button>
    </div>

    <!-- Loading indicator (initially hidden) -->
    <div id="loadingIndicator" style="display: none;">
    <div class="spinner"></div>
    <p>Generating...</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/dev.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gestures.js') }}"></script>
</body>
</html>