<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>GIF Buddy🫂</title>
</head>
<body>
    <div class="action-container">
        <button class="action-button" id="uploadButton" onclick="window.location.href='/upload'">Upload</button>
        <button class="action-button" id="searchButton" onclick="window.location.href='/dev'">Search</button>
        <button class="action-button" id="createButton" onclick="window.location.href='/create'">Create</button>
    </div>    

    <div class="container">
        <h1>GIF Buddy🤙</h1>
        <div id="counter">GIFs Set Free: <span id="counter-value"></span></div>
        <div class="search-box">
            <input type="text" id="search-input" placeholder="GIF It Your Best Shot">
            <button id="search-button">Search</button>
        </div>
        <div id="results"></div>
        <button id="load-more-button" style="display: none;">Load More</button>

        <div class="powered-by">
            Powered by Tenor
        </div>
    </div>

    <div class="button-container">
        <a href="https://github.com/happylemonprogramming/gifbuddy" target="_blank" class="github-button" id="githubButton">
            <img src="/static/githublogo.png" alt="GitHub logo" class="github-logo">
        </a>
        <a href="https://nostr.com/npub1hee433872q2gen90cqh2ypwcq9z7y5ugn23etrd2l2rrwpruss8qwmrsv6" target="_blank" class="github-button" id="githubButton">
            <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
        </a>
        <button id="zap-button" class="zap-button">
            ⚡
        </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gestures.js') }}"></script>
</body>
</html>