<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="{{url_for('static', filename='icons/amigo/icon_144x144.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/amigo/icon_192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/amigo/icon_512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/amigo/icon_144x144.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/amigo/icon_192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/amigo/icon_512x512.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Meme Amigo 🎉</title>
</head>
<body>
    <!-- <div class="action-container">
        <button class="action-button" id="uploadButton" onclick="window.location.href='/upload'">Upload</button>
        <button class="action-button" id="searchButton" onclick="window.location.href='/memesearch'">Search</button>
        <button class="action-button" id="memeButton" onclick="window.location.href='/meme'">Meme</button>
        <button class="action-button" id="collectionButton" onclick="window.location.href='/collection'">Collection</button>
    </div>     -->

    <nav class="nav-container">
        <button class="hamburger">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </button>
        <div class="action-container">
            <button class="action-button" id="searchButton" onclick="window.location.href='/gifsearch'">Search GIFs</button>
            <button class="action-button" id="searchButton" onclick="window.location.href='/nostr'">Search Nostr</button>
            <button class="action-button" id="searchButton" onclick="window.location.href='/memesearch'">Search Memes</button>
            <button class="action-button" id="memeButton" onclick="window.location.href='/meme'">Create Meme</button>
            <button class="action-button" id="collectionButton" onclick="window.location.href='/collection'">Collections</button>
            <button class="action-button" id="uploadButton" onclick="window.location.href='/upload'">Upload</button>
        </div>
    </nav>

    <div id="notification" class="notification"></div>
    
    <div class="container">
        <h1 id="secret-header" onclick="window.location.href='/gifsearch'">Meme Amigo 🎉</h1>
        <div id="counter">Memes Set Free: <span id="counter-value"></span></div>
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Search Templates" autofocus onclick="this.focus();">
            <button id="search-button">Search</button>
            <button id="trending-button">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                  <polyline points="17 6 23 6 23 12"></polyline>
                </svg>
            </button>
        </div>
        
        <img id="instructions" src="https://image.nostr.build/f8e4dac3df6f97f25d031dc64863d3be52094e7941e3f04391140dd26a2c0d7b.jpg"></img>
        <!-- <img id="instructions" src="https://image.nostr.build/cc5c81c4e069921084082695502d010d3f9469eafd472904ed7e6cfe4ee6b613.png"></img> -->
        <div id="results"></div>
        
        <div id="next-container" style="display: none;">
            <button id="reset-button">Start Over</button>
        </div>

        <div class="powered-by">
            Powered by Imgflip
        </div>
    </div>

    <div class="button-container">
        <!-- <a href="https://github.com/happylemonprogramming/" target="_blank" class="github-button" id="githubButton">
            <img src="/static/githublogo.png" alt="GitHub logo" class="github-logo">
        </a> -->
        <!-- <a href="https://nostr.com/npub1hee433872q2gen90cqh2ypwcq9z7y5ugn23etrd2l2rrwpruss8qwmrsv6" target="_blank" class="github-button" id="githubButton">
            <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
        </a> -->
        <button target="_blank" class="github-button" id="npub">
            <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
        </button>
        <button id="zap-button" class="zap-button">
            ⚡
        </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/memesearch.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gestures.js') }}"></script>
</body>
</html>