<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" href="{{url_for('static', filename='icons/amigo/icon_144x144.png')}}" type="image/png">
  <link rel="icon" href="{{url_for('static', filename='icons/amigo/icon_192x192.png')}}" type="image/png">
  <link rel="icon" href="{{url_for('static', filename='icons/amigo/icon_512x512.png')}}" type="image/png">
  <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/amigo/icon_144x144.png')}}" type="image/png">
  <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/amigo/icon_192x192.png')}}" type="image/png">
  <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/amigo/icon_512x512.png')}}" type="image/png">
  <link rel="manifest" href="/manifest.json">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/memeedit.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <title>Meme Amigo 🎉</title>
</head>
<body>
  <nav class="nav-container">
    <button class="hamburger">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </button>
    <div class="action-container">
      <button class="action-button" id="searchButton" onclick="window.location.href='/gifsearch'">Search GIFs</button>
      <button class="action-button" id="searchButton" onclick="window.location.href='/nostr'">Search Nostr</button>
      <button class="action-button" id="searchButton" onclick="window.location.href='/memesearch'">Search Memes</button>
      <button class="action-button" id="memeButton" onclick="window.location.href='/meme'">Create Meme</button>
      <button class="action-button" id="collectionButton" onclick="window.location.href='/collection'">Collections</button>
      <button class="action-button" id="decodeButton" onclick="window.location.href='/decode'">Decode</button>
      <button class="action-button" id="uploadButton" onclick="window.location.href='/upload'">Upload</button>
    </div>
</nav>

  <div id="notification" class="notification"></div>

  <div class="button-container">
    <button target="_blank" class="github-button" id="npub">
        <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
    </button>
    <button id="zap-button" class="zap-button">⚡</button>
  </div>

  <!-- Share Image Modal -->
  <div id="image-modal" class="modal" style="display: none;">
    <button id="close-image" class="close-modal">Close</button>
    <div id="bottom-text" class="pro-tip">Tap to Copy!</div>
    <img id="preview-image" alt="Generated Meme">
    <button id="share-meme" class="toolbar-button">Share</button>
  </div>

  <!-- Settings Modal -->
  <div id="settings-modal" class="modal">
    <div id="settings-content" class="modal-content">
      <button id="close-settings" class="close-modal">X</button>
      <h4>Text Settings</h4>

      <!-- Font Selection -->
      <label for="font">Font:</label>
      <select id="font">
        <!-- <option value="Impact">Impact</option>
        <option value="Arial">Arial</option> -->
        <option value="'Impact', 'Anton', 'Noto Sans JP', Arial, sans-serif">Impact</option>
        <option value="'Arial', 'Noto Sans JP', sans-serif">Arial</option>
        <option value="'Verdana', 'Noto Sans JP', sans-serif">Verdana</option>
        <option value="'Noto Sans', 'Noto Sans JP', Arial, sans-serif">Noto Sans</option>
        <option value="'Microsoft YaHei', sans-serif">Microsoft YaHei</option>
        <option value="Meiryo, sans-serif">Meiryo</option>

      </select>

      <!-- Checkbox Row -->
      <div class="checkbox-row">
        <div><input type="checkbox" id="caps" checked/><label for="caps">ALL CAPS</label></div>
        <div><input type="checkbox" id="bold" /><label for="bold">Bold</label></div>
        <div><input type="checkbox" id="italic" /><label for="italic">Italic</label></div>
      </div>

      <!-- Radio Row -->
      <div class="radio-row">
        <div><input type="radio" id="shadow" name="effect" /><label for="shadow">Shadow</label></div>
        <div><input type="radio" id="outline" name="effect" checked/><label for="outline">Outline</label></div>
        <div><input type="radio" id="none" name="effect" /><label for="none">None</label></div>
      </div>

      <!-- Element Opacity -->
      <label for="opacity">Opacity:</label>
      <input type="range" id="opacity" name="opacity" min="0" max="100" value="100">

      <!-- Color Picker -->
      <label for="color">Text Color:</label>
      <input type="color" id="color" value="#FFFFFF">

      <!-- Background Color Picker -->
      <div class="setting-row">
        <div>
          <input type="checkbox" id="addHighlight" unchecked>
          <label for="addHighlight">Add Highlight</label>
        </div>
        <div>
          <label for="highlight">Highlight Color:</label>
          <input type="color" id="highlight" value="#FFFFFF">
        </div>
      </div>

      <!-- Action Buttons -->
      <button id="remove-textbox">Remove Text Box</button>
      <!-- <button id="removebg-settings">Remove Background⚡</button> -->
      <button id="apply-settings">Apply & Close</button>
    </div>
  </div>

  <!-- Sticker Modal -->
  <div id="sticker-modal" class="modal">
    <div id="sticker-content" class="modal-content">
      <button id="close-stickers" class="close-modal">X</button>
      <h4>Search Stickers</h4>
      
      <div class="search-container">
        <input type="text" id="sticker-search" placeholder="Search stickers...">
        <button id="search-stickers">Search</button>
      </div>
      
      <div id="sticker-results" class="sticker-grid">

      </div>
    </div>
  </div>

  <!-- Embed Secret Modal for Cashu Tokens -->
  <div id="secret-modal" class="modal">
    <div id="secret-content" class="modal-content">
      <button id="close-secret" class="close-modal">X</button>
      <h4>Encode Meme Secret</h4>
      <p id="secret-instructions">
        Enter an amount (sats) to encode a Cashu token with a memo or leave amount blank to encode meme with message only<br>
        <br>
        Reveal image secrets on the <a href="/decode">Decode</a> page in the menu or tag <a href="https://njump.me/npub13p25qtngtldjyk5p7y457h3hxyq54lwennvkku42zg24h5gfjqvsgmpwxc">@stegosaurus</a> in your favorite Kind 1 client<br>
        <br>
        DISCLAIMER: this is in active development! Proceed carefully and at your own risk
      </p>
      <div class="secret-container">
        <!-- <input type="text" id="secret-input" placeholder="Secret Message"> -->
        <textarea id="secret-input" placeholder="Secret Message"></textarea>
        <input type="number" id="secret-amount" min="0" placeholder="Amount">
        <button id="secret-button">Encode</button>
      </div>
      
      <div id="mint-invoice" class="qr-invoice" style="display: none;"></div>
      <div id="copyText" class="powered-by" style="display: none;">Click to Copy!</div>
      
    </div>
  </div>

  <!-- Image Generator Modal -->
  <div id="ai-modal" class="modal">
    <div id="ai-content" class="modal-content">
      <button id="close-ai" class="close-modal">X</button>
      <h4>Generate Image</h4>
      <div class="search-container">
        <input type="text" id="ai-input" placeholder="Generate Image...">
        <button id="ai-button">Create⚡</button>
      </div>
    </div>
  </div>

  <!-- Lightning Invoice Modal for Premium Services -->
  <div id="lightning-modal" class="modal">
    <div id="lighting-content" class="modal-content">
      <button id="close-lightning" class="close-modal">X</button>
      <h4 id="LNcost">200 sats</h4>      
      <div id="lightning-invoice" class="qr-invoice"></div>
      <div id="clickToCopy" class="powered-by">Click to Copy!</div>
    </div>
  </div>

  <!-- Loading indicator (initially hidden) -->
  <div id="loadingIndicator" style="display: none;">
    <div class="spinner"></div>
    <p>Generating...</p>
  </div>

  <div id="editor" class="editor-container">
    <div class="input-container">
      <input type="text" id="urlInput" placeholder="Image Url" required>
      <!-- <button class="toolbar-button" id="ai-generator"></button> -->
      <button class="toolbar-button" id="uploadImageBtn"></button>
      <input type="file" id="fileInput" accept="image/*" style="display: none">
    </div>
    <div id="meme-container">
        <img id="background-img" src="" alt="Meme background">
    </div>

    <div class="toolbar">
      <!-- <button class="toolbar-button" onclick="location.reload()"><span class="emoji">🔄</span></button> -->
      <!-- <button class="toolbar-button" id="paint" onclick="jsPaint()"><span class="emoji">🎨</span></button> -->
      <button class="toolbar-button" id="settings"></button>
      <button class="toolbar-button" id="hide-message"></button> 
      <button class="toolbar-button" id="add-emoji"></button>
      <!-- <button class="toolbar-button" id="draw-toggle">✏️</button> -->
      <button class="toolbar-button" id="stickers"></button>
      <button class="toolbar-button" id="text-button" onclick="addTextBox()"></button>
      <button class="toolbar-button" id="log-button"></button>
      <button class="toolbar-button" id="link-button"></button>
    </div>
    
    <!-- Emoji picker container -->
    <div id="emoji-picker" style="display: none;"></div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.11/clipboard.min.js"></script>
  <script src="https://cashubuddy.pages.dev/bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

  <script src="{{ url_for('static', filename='js/gestures.js') }}"></script>
  <script src="{{ url_for('static', filename='js/steganography.js') }}"></script>
  <script src="{{ url_for('static', filename='js/memeedit.js') }}"></script>
  <script src="{{ url_for('static', filename='js/secretNut.js') }}"></script>
  <script src="{{ url_for('static', filename='js/memecreate.js') }}"></script>
  <script src="{{ url_for('static', filename='js/premiumai.js') }}"></script>

</body>
</html>