<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="{{url_for('static', filename='icons/gifbuddy/icon_144x144.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/gifbuddy/icon_192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/gifbuddy/icon_512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/gifbuddy/icon_144x144.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/gifbuddy/icon_192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/gifbuddy/icon_512x512.png')}}" type="image/png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>GIF Buddy🫂</title>
</head>
<body>
    <div class="action-container">
        <button class="action-button" id="uploadButton" onclick="window.location.href='/upload'">Upload</button>
        <button class="action-button" id="searchButton" onclick="window.location.href='/'">Search</button>
        <!-- <button class="action-button" id="createButton" onclick="window.location.href='/create'">Create</button> -->
        <button class="action-button" id="memeButton" onclick="window.location.href='/meme'">Meme</button>
    </div>    

    <div id="notification" class="notification"></div>

    <div class="container">
        <h1 id="secret-header" onclick="window.location.href='/memesearch'">GIF Buddy🫂</h1>
        <div id="counter">GIF Collection: <span id="counter-value"></span></div>
        <div class="search-box">
            <input type="text" id="search-input" placeholder="GIF It Go">
            <button id="search-button">Search</button>
        </div>

        <img id="instructions" src="https://image.nostr.build/9247e8f8a307a4bdd653d43d84810b8a5bf9073fd2cb6d6dc4c583230cce0043.gif"></img>
        <div id="results"></div>

        <div id="next-container" style="display: none;">
            <!-- <button id="load-more-button">Load More</button> -->
            <button id="reset-button">Start Over</button>
        </div>

        <div class="powered-by" onclick="window.location.href='/gifsearch'">
            Powered by Nostr
        </div>
    </div>

    <div class="button-container">
        <!-- <a href="https://github.com/happylemonprogramming/" target="_blank" class="github-button" id="githubButton">
            <img src="/static/githublogo.png" alt="GitHub logo" class="github-logo">
        </a> -->
        <!-- <a href="https://nostr.com/npub1hee433872q2gen90cqh2ypwcq9z7y5ugn23etrd2l2rrwpruss8qwmrsv6" target="_blank" class="github-button" id="githubButton">
            <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
        </a> -->
        <button target="_blank" class="github-button" id="npub">
            <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
        </button>
        <button id="zap-button" class="zap-button">
            ⚡
        </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/nostr.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gestures.js') }}"></script>
</body>
</html>