<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
    <link rel="icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_144x144.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_192x192.png')}}" type="image/png">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icons/icon_512x512.png')}}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/shared.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    <link rel="manifest" href="/manifest.json">
    <title>GIF Buddy🫂</title>
</head>
<body>
    <div class="action-container">
        <button class="action-button" id="uploadButton" onclick="window.location.href='/upload'">Upload</button>
        <button class="action-button" id="searchButton" onclick="window.location.href='/dev'">Search</button>
        <button class="action-button" id="createButton" onclick="window.location.href='/create'">Create</button>
    </div>    

    <div class="container">
        <h1 id="uploadHeader">Upload Media📤</h1>
        <form class="upload-form" id="uploadForm">
            <div class="drop-zone" id="dropZone">
                <input type="file" id="fileUpload" style ="display: none" accept=".gif,.mp4" required>
                <div class="drop-zone-text">Drop your file here, or click to browse</div>
                <div class="file-size-limit">Supported file types: GIF, MP4</div>
                <div class="file-size-limit">Maximum file size: 21MB</div>
                <div class="file-info" style="display: none;">
                    <span class="file-name"></span>
                    <span class="file-size"></span>
                    <span class="remove-file" title="Remove file">×</span>
                </div>
            </div>
            <input type="text" id="caption" placeholder="GIF Search Term, Caption or Description" required>
            <button type="submit">Upload</button>
        </form>

        <!-- Loading indicator (initially hidden) -->
        <div id="loadingIndicator" style="display: none;">
            <div class="spinner"></div>
            <p>Uploading GIF...</p>
        </div>
    
        <!-- Results container -->
        <div id="results"></div>
    </div>

    <div class="button-container">
        <a href="https://github.com/happylemonprogramming/gifbuddy" target="_blank" class="github-button" id="githubButton">
            <img src="/static/githublogo.png" alt="GitHub logo" class="github-logo">
        </a>
        <a href="https://nostr.com/npub1hee433872q2gen90cqh2ypwcq9z7y5ugn23etrd2l2rrwpruss8qwmrsv6" target="_blank" class="github-button" id="githubButton">
            <img src="/static/ostrich.svg" alt="GitHub logo" class="github-logo">
        </a>
        <button id="zap-button" class="zap-button">
            ⚡
        </button>
    </div>

    <div id="loadingIndicator" style="display: none;">
        <div class="spinner"></div>
        <p>Uploading...</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gestures.js') }}"></script>
</body>
</html>